In [57]:
import os
os.listdir()

['.ipynb_checkpoints',
 'breast-cancer-wisconsin.data.txt',
 'breast-cancer-wisconsin.names.txt',
 'unformatted-data.txt',
 'Untitled.ipynb',
 'wdbc.data.txt',
 'wdbc.names.txt',
 'wpbc.data.txt',
 'wpbc.names.txt']

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
#   #  Attribute                     Domain
#    -- -----------------------------------------
#    1. Sample code number            id number
#    2. Clump Thickness               1 - 10
#    3. Uniformity of Cell Size       1 - 10
#    4. Uniformity of Cell Shape      1 - 10
#    5. Marginal Adhesion             1 - 10
#    6. Single Epithelial Cell Size   1 - 10
#    7. Bare Nuclei                   1 - 10
#    8. Bland Chromatin               1 - 10
#    9. Normal Nucleoli               1 - 10
#   10. Mitoses                       1 - 10
#   11. Class:                        (2 for benign, 4 for malignant)

In [60]:
# Importing the dataset
df =pd.read_csv('breast-cancer-wisconsin.data.txt',header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [61]:
df.columns=['sample','ClumpThick', 'CellSizeUni', 'CellShapeUni', 'MarAdh', 'SingleEpitCell',
           'BareNucl','BlandChr','NormNuc','Mito','Class']

In [62]:
# removing duplicates
sum(df.duplicated())

8

In [63]:
df.drop_duplicates(inplace=True)

In [64]:
df.head()

,sample,ClumpThick,CellSizeUni,CellShapeUni,MarAdh,SingleEpitCell,BareNucl,BlandChr,NormNuc,Mito,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691 entries, 0 to 698
Data columns (total 11 columns):
sample            691 non-null int64
ClumpThick        691 non-null int64
CellSizeUni       691 non-null int64
CellShapeUni      691 non-null int64
MarAdh            691 non-null int64
SingleEpitCell    691 non-null int64
BareNucl          691 non-null object
BlandChr          691 non-null int64
NormNuc           691 non-null int64
Mito              691 non-null int64
Class             691 non-null int64
dtypes: int64(10), object(1)
memory usage: 64.8+ KB

In [66]:
# Taking care of missing data 
df.BareNucl=pd.to_numeric(df.BareNucl,errors='coerce')

In [67]:
df.BareNucl.fillna(df.BareNucl.mean(),inplace=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691 entries, 0 to 698
Data columns (total 11 columns):
sample            691 non-null int64
ClumpThick        691 non-null int64
CellSizeUni       691 non-null int64
CellShapeUni      691 non-null int64
MarAdh            691 non-null int64
SingleEpitCell    691 non-null int64
BareNucl          691 non-null float64
BlandChr          691 non-null int64
NormNuc           691 non-null int64
Mito              691 non-null int64
Class             691 non-null int64
dtypes: float64(1), int64(10)
memory usage: 64.8 KB

In [69]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [70]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [88]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
# model=RandomForestClassifier()
model=RandomForestClassifier(n_estimators=15)

model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [87]:
model.score(X_test,y_test)

0.9712230215827338